@font-face {
  font-family: lcdSolid;
  src: url("./assets/LcdSolid-VPzB.ttf");
}
@font-face {
  font-family: digitalMono;
  src: url("./assets/Digital7Mono-B1g5.ttf");
}
#main {
  height: 574px;
  width: 449px;
  padding: 20px;
  background-color: rgb(28, 28, 28);
  display: flex;
  flex-direction: column;
}

.main-top {
  background-color: #2a2a2a;
  height: 165px;
  display: flex;
  flex-direction: column;
}
.main-top-title {
  color: #ada28e;
  border-bottom: 2px solid #7a323a;
  font-family: lcdSolid;
  font-size: large;
  padding: 20px 15px 15px;
  margin: 0;
}
.main-top-screen {
  flex: 1;
  border: 10px solid black;
  border-left: 10px solid grey;
  margin: 15px;
  display: flex;
  flex-direction: column;
  font-family: digitalMono;
}
.main-top .eval-screen {
  background-color: #817b5e;
  border: 10px solid #88897b;
  flex: 1;
  text-align: right;
  font-size: xxx-large;
}

.main-bottom {
  flex: 1;
  background-color: #ddc5a1;
  display: flex;
  flex-direction: column;
  padding: 8px 0px;
}
.main-bottom .row {
  flex: 1;
  display: flex;
  flex-direction: row;
}
.main-bottom .row .button {
  background: linear-gradient(90deg, rgb(64, 63, 62) 0%, rgb(43, 43, 42) 99%);
  color: white;
  flex: 1;
  border: 8px solid #303133;
  margin: 8px 10px;
  border-radius: 6px;
  font-size: x-large;
}
.main-bottom .row .button-clear {
  background: #e98051;
}
.main-bottom .row .button-equal {
  flex: 2.8;
  background: #615c48;
}
